*{
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 300px;
    border: 2px solid red;
    display: flex;/*alignment*/
    align-items: center;/*horizontal*/
    justify-content: center;/*vertical*/
    
}

.box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}