*{/*reset*/
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /*same as above*/
    font: normal, 16px, arial, helvetica, sans-serif;

    line-height: 1.6em;
}

.container{
    width: 80%;
    margin: auto;
}

.button{
    background-color: #555555;
    color: white;
    padding: 10px 15px;/*size*/
    border: none;
}

.button:hover{
    background-color: red;
    color: white;
}

.box-1{
    background-color: #555555;
    color: #f4f4f4;

    border-top: red solid;
    border-right: red solid;
    border-bottom: red solid;
    border-left: red solid;
    /*same as above*/
    border: 5px red solid;

    border-width: 3px;
    border-bottom-width: 10px;

    padding: 30px 30px;

    margin: 30px 30px;
}

a{
    text-decoration: none;/*underline*/
    color: aqua;
}

a:hover{
    color: red;
}

a:active/*click*/{
    color: green;
}
/*
a:visited{
    color: whitesmoke;
}
*/
.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border : 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}

.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    padding-left: 6px;
    list-style: square;
    list-style: none;
}

.categories li{
    padding: 6px;
    border-bottom: dotted 1px #333;
    list-style: circle;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="email"], .my-form input[type="password"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.my-form input[type="submit"]{
    background-color: #555555;
    color: white;
    padding: 10px 15px;/*size*/
    border: none;
}

